* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin_page {
    min-height: 90vh;
    display: flex;
    min-height: 100dvh;
    background-color: rgb(58, 58, 58);
    color: white;
    padding: 20px;
}

.admin_page .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: #333;
    height: 300px;
}

.admin_page .sidebar h2 {
    margin-top: 0;
}

.admin_page .sidebar ul {
    list-style: none;
    padding: 20px 0;
}

.admin_page .sidebar ul li {
    margin-bottom: 10px;
    transition: 0.4s;
}

.admin_page .sidebar ul li:hover {
    transform: translateX(5px);
}

.admin_page .sidebar ul li a {
    text-decoration: none;
    color: #333;
}




.container_router_pages {
    padding: 0px 40px;
}