.containerChat {
    position: relative;
    margin: auto;
    margin-bottom: 55px;
    min-height: 85vh;
    max-width: 650px;
    overflow-anchor: none;
    border-radius: 10px 0px 0px 10px;

    .h1 {
        padding: 20px;
        border-radius: 10px;
        color: white;
        background-color: rgb(65, 64, 64);
    }

    .chat {
        // background-color: red;
        padding: 10px 15px 15px 20px;
        padding-bottom: 30px;
        height: 90%;

        .msg {
            margin: 20px 0px;

            p {
                display: inline-block;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                background-color: #00bbd4;
                border-radius: 15px 20px 15px 0px;
                padding: 10px;
                max-width: 600px;
                border: solid 1px rgba(0, 0, 0, 0.363);
            }
            h4 {
                font-size: 1.3em;
                padding: 3px 8px;
            }

            &#amigo {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                p {
                    background-color: #00bbd424;
                    border-radius: 20px 15px 0px 15px;
                    text-align: end;
                }
            }
        }
    }


    &#temaDark {
        border-color: white;

        #voce {
            p {
                color: black;
            }
        }
    }
}


// Estilização do input de mensegem no qual deixei de fora do container de chat
.inputDeMensagem {
    background-color: rgb(91, 76, 76);
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    padding: 5px 10px;
    border: solid 2px #00bbd4;
    display: flex;
    align-items: center;

    textarea {
        color: white;
        background-color: rgba(81, 0, 0, 0);
        font-size: 1.2em;
        font-weight: bold;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        width: 90%;
        resize: none; /* Impede que o usuário redimensione manualmente o textarea */
        overflow-y: hidden;

        &:focus { 
            outline: none;
        }
    }

    button {
        font-size: 1.4em;
        background-color: #32363784;
        color: white;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: .3s;

        &:hover {
            background-color: #00ccff6f;
            transform: rotateZ(-47deg);
        }
    }
}



@media screen and (max-width: 750px) {
    .inputDeMensagem {
        width: 85%;
        left: 50%;
        transform: translateX(-50%);
    }
}