// Font 'Averia Serif Libre'
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// Variaves de cores
@import "../styles/Cores.module.scss";


* {
  font-family: 'Averia Serif Libre', cursive;
  // font-family: Arial, Helvetica, sans-serif;
  // font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




// ESYILO PARA AS PAGINAS E ROTAS
.container {
  background-color: $background_Claro;

  .main {
    display: flex;
    padding-top: 70px;

    .containerAsideDaEsquerda {
      flex: 1 0 250px;
      display: block;
      width: 550px;
    }

    .containerVitrineDaDireita {
      width: 100%;
      padding: 0px 20px;
      border-radius: 20px;
      margin-right: 5px;
      overflow: hidden;
    }
  }

  &#containerDark {
    background-color: $background_Escuro;
    color: white;
  }
}

// @media scri {
  
// }
@media screen and (max-width: 750px) {
  .container {
    .main {
  
      .containerAsideDaEsquerda {
        display: none ;
        position: absolute;
        z-index: 9;
      }
    }
  }
}

