// Font 'Averia Serif Libre'
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// Variaves de cores
@import "../styles/Cores.module.scss";


* {
  font-family: 'Averia Serif Libre', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



// ================ ESTILOS PARA ANIMAÇÃO DE PRE-LOADING =================
// @keyframes animate {
//   0% {
//       transform: rotateX(-30deg) rotateY(0deg);
//   }
//   100% {
//       transform: rotateX(-30deg) rotateY(360deg);
//   }
// }
// .preload {
//   background-color: $background_Escuro;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   overflow: hidden;
// }
// .cube {
//   position: relative;
//   transform-style: preserve-3d;
//   transform: rotateX(-30deg);
//   animation: animate 3s linear infinite;
//   margin: 100px auto;
//   width: 100px;
//   height: 100px;

//   span {
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: linear-gradient(#151515, #00ce00);
//     transform: rotateY(calc(90deg * var(--i))) translateZ(49px);
//     width: 100%;
//     height: 100%;
//   }

//   .top {
//     transform-style: preserve-3d;
//     position: absolute;
//     top: 100px;
//     left: 0;
//     background: #222;
//     transform: rotateX(90deg) translateZ(150px);
//     width: 100px;
//     height: 100px;
//   }
  
//   .top::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: #0f0;
//     transform: translateZ(-200px);
//     filter: blur(20px);
//     width: 100px;
//     height: 100px;
  
//     box-shadow: 0 0 50px rgba(0, 255, 0, 0.9), 
//     0 0 100px rgba(0, 255, 0, 0.2),
//     0 0 200px rgba(0, 255, 0, 0.4),
//     0 0 300px rgba(0, 255, 0, 0.6),
//     0 0 400px rgba(0, 255, 0, 0.1);
//   }
// }






// ESYILO PARA AS PAGINAS E ROTAS
.container {
  background-color: $background_Claro;

  .main {
    display: flex;
    padding-top: 70px;

    .containerAsideDaEsquerda {
      flex: 1 0 250px;
      display: block;
      width: 550px;
    }

    .containerVitrineDaDireita {
      width: 100%;
      padding: 0px 20px;
      border-radius: 20px;
      margin-right: 5px;
      overflow: hidden;
    }
  }

  &#containerDark {
    background-color: $background_Escuro;
    color: white;
  }
}

// @media scri {
  
// }
@media screen and (max-width: 750px) {
  .container {
    .main {
  
      .containerAsideDaEsquerda {
        display: none ;
      }
    }
  }
}

