.divNoticias {
    min-height: 88vh;
}

.container {
    display: flex;
    min-height: 86vh;
    margin: 0px -10px;

    .asideComunidade {
        background-color: rgb(50, 49, 49);
        width: 20%;
        min-width: 280px;
        padding: 10px;
        color: white;

        .subTitleAside {
            font-weight: bold;
            padding: 30px 10px 10px;
        }

        .optionsAside {
            cursor: pointer;
            padding: 3px 20px;
            margin-bottom: 5px;
            transition: .3s;
            

            &:hover {
                transform: translateX(+10px);
            }
        }
    }


    .mainComunidade {
        background-color: rgba(132, 131, 131, 0.372);
        width: 80%;

        .headUserOnline {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 20px;
            background-color: rgba(71, 71, 72, 0.39);

            .newPublication {
                font-weight: bold;
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                border: solid 1px white;
                border-radius: 7px;
                padding: 7px 15px;
                transition: .3s;

                &:hover {
                    scale: 1.05;
                }
            }
        }

        .containerChat {
            font-size: 1.1em;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 25px;

            .publicationFeed {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                gap: 4px;
                transition: .3s;

                .nomePublicador {
                    font-size: .8em;
                }

                &:hover {
                    color: rgb(125, 124, 124);
                }
            }
        }
    }
}



// .divNoticias {
//     padding-bottom: 40px;
//     min-height: 100vh;

//     .containerDeNoticias {
//         display: flex;
//         flex-direction: column;
//         gap: 30px;
//         justify-content: center;
//         align-items: center;
//         height: 70vh;
//         text-align: center;

//         img {
//             border-radius: 10px;
//         }

//         p {
//             padding-top: 5px;
//             max-width: 600px;
//             color: rgb(113, 113, 113);
//         }
//     }
// }
