.divNoticias {
    min-height: 88vh;
}

.container {
    display: flex;
    min-height: 86vh;
    margin: 0px -10px;

    .asideComunidade {
        // display: none;
        background-color: rgb(50, 49, 49);
        width: 20%;
        min-width: 280px;
        padding: 10px;
        color: white;

        .subTitleAside {
            font-weight: bold;
            padding: 30px 10px 10px;
        }

        .optionsAside {
            cursor: pointer;
            padding: 3px 20px;
            margin-bottom: 5px;
            transition: .3s;
            

            &:hover {
                transform: translateX(+10px);
            }
        }
    }


    .mainComunidade {
        background-color: rgba(132, 131, 131, 0.372);
        width: 80%;

        .headUserOnline {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 20px;
            background-color: rgba(71, 71, 72, 0.39);

            .newPublication {
                font-size: .87em;
                font-weight: bold;
                background-color: rgb(0, 255, 225);
                cursor: pointer;
                border: solid 1.5px rgba(0, 0, 0, 0.616);
                border-radius: 7px;
                padding: 7px 20px;
                transition: .3s;

                &:hover {
                    scale: 1.05;
                }
            }
        }

        .containerChat {
            overflow: auto;
            font-size: 1.1em;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 25px;
            max-height: 455px;

            &::-webkit-scrollbar {
                width: 6px;
                height: 8px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 50px;
                background-color: rgba(111, 110, 110, 0.441);
            }

            .publicationFeed {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                gap: 3px;
                transition: .3s;

                .nomePublicador {
                    color: rgb(125, 124, 124);
                    font-size: .8em;
                }

                &:hover {
                    color: rgb(125, 124, 124);
                }
            }
        }
    }
}

