@import "../../../../styles/Cores.module.scss";


.SectionVitrineCursos {
    padding-bottom: 20px;
    min-height: 88.5vh;


    .navbar {
        position: relative;
        background-color: $itens_Pretos;
        font-size: 1.1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        border-radius: 5px;
        border: solid 2px rgba(255, 255, 255, 0.096);

        .nav_item {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(255, 250, 250);
            padding: 8px 100px;
            transition: .3s;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: linear-gradient(to left, $itens_Pretos, #00bcd4);
                box-shadow:  -2px 2px 1px 2px rgba(0, 0, 0, 0.215);
            }

            &#direita:hover {
                background: linear-gradient(to left, #00bcd4, $itens_Pretos);
                box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.213);
            }
        }
    
        .center_button {
           position:absolute; 
           bottom: -30px; 
           left: 50%; 
           transform: translateX(-50%);
           background-color: #00bcd4; 
           border-radius: 50%; 
           display: flex;
           justify-content:center; align-items:center;
           border: solid rgb(223, 217, 217) 5px;
           height: 60px; 
           width: 60px; 
           transition: .2s;

           &:hover {
            border-width: 3px;
            height: 62px; 
            width: 62px; 
           }
         }
        
         .center_button a{
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            text-decoration: none;


            img {
                width: 70%;
                padding-left: 5px;
            }
         }
    }



    .titleGrupoCurso {
        font-size: 1.2em;
        padding: 25px 0px 0px;
    }
    .detalhesGrupoCurso {
        color: rgb(115, 114, 114);
        padding-bottom: 10px;
    }

    .containerDeCardsDeCursos {
        display: flex;
        gap: 50px 20px;
        overflow-x: auto;
        padding: 15px 30px 20px 0px;

        a {
            text-decoration: none;
        }

        &::-webkit-scrollbar {
            width: 6px;
            height: 3px;
        }
        &::-webkit-scrollbar-thumb {
            width: 20px;
            background-color: rgba(0, 0, 0, 0.142);
        }

        .cardDeCurso {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            background-color: $itens_Pretos;
            color: white;
            overflow: hidden;
            box-shadow: 2px 5px 2px rgba(245, 245, 245, 0.11);
            border: solid 2px rgba(255, 255, 255, 0.096);
            min-width: 235px;
            max-width: 235px;
            height: 310px;
            transition: .4s;
            border-radius: 10px;

            

            .simboloPrivado {
                font-weight: bold;
                display: flex;
                gap: 6px;
                position: absolute;
                z-index: 1;
                top: 10px;
                background-color: rgb(255, 174, 0);
                color: rgb(0, 0, 0);
                padding: 5px 20px;
                border-radius: 0px 5px 35px 0px;
            }
            .simboloLiberado {
                display: flex;
                gap: 6px;
                position: absolute;
                z-index: 1;
                top: 10px;
                background-color: rgb(0, 255, 225);
                color: rgb(0, 0, 0);
                padding: 5px 20px;
                border-radius: 0px 5px 35px 0px;
            }

            img {
                position: absolute;
                left: 50%;top: 50%;transform: translate(-50%, -50%);
                width: 100%;
                z-index: 0;
            }
            
            .textCard {
                background-color: rgba(0, 0, 0, 0.712);
                border-radius: 30px 30px 0px 0px;
                position: relative;
                z-index: 2;
                padding: 20px;
                // text-align: center;
                height: 33%;
                transition: .3s;

                h2 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: .9em;
                }

                p {
                    color: rgba(255, 255, 255, 0.518);
                    font-size: .9em;
                    padding: 5px 0px;
                }

                .discritionCurso {
                    color: transparent;
                    padding: 20px 0px;
                }

                &:hover {
                    background-color: rgb(40, 40, 40);
                    height: 100%;
                    border-radius: 0;

                    .discritionCurso {
                        color: rgb(255, 255, 255);
                        transition: 1.5s;
                    }
                }
            }

            &:hover {
                box-shadow: 0px 10px 7px rgba(245, 245, 245, 0.059);
                transform: translateY(-10px);
            }
        }
    }
}



// @media screen and (max-width: 1125px) {
//     .SectionVitrineCursos {
//         .containerDeCardsDeCursos {
//             justify-content: center;
//         }
//     }
// }


@media screen and (max-width: 965px) {
    .SectionVitrineCursos {
        .navbar {
            font-size: 1em;

            .nav_item {
                padding: 10px 60px;
            }
        }
    }
}


// @media screen and (max-width: 602px) {
//     .SectionVitrineCursos {
//         .containerDeCardsDeCursos {
//             // flex-direction: column;
//             // align-items: center;
    
//             .cardDeCurso {
//                 min-width: 200px;
//                 height: 270px;
//             }
//         }
//     }
// }



@media screen and (max-width: 470px) {
    .SectionVitrineCursos {
        .navbar {
            gap: 20px;

            .nav_item {
                padding: 10px 25px;
            }

            .center_button {
                width: 62px;
                height: 62px;
            }
            .center_button a{
                font-size :13px ;
            }
        }
    }
}