@import "../../../../styles/Cores.module.scss";

@keyframes piscaAviso {
    0% {
        box-shadow: 0px 0px 2px rgba(255, 0, 0, 0.184);
    }
    25% {
        box-shadow: 0px 0px 2px rgba(255, 0, 0, 0.218);
    }
    50% {
        box-shadow: 0px 0px 150px rgba(255, 0, 0, 0.584);
    }
}


.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    min-height: 89.5vh;
    margin: 10px auto;

    &#temaDark {
        .title {
            color: white;
        }
        .inputContainer {
            .label {
                color: white;
            }
            .input {
                border-color: white;
                color: white;
            }
        }
    }
}



.title {
    text-align: center;
    color: $itens_Pretos;
    margin-bottom: 20px;
}

.inputContainer {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;

    .label {
        display: block;
        margin-bottom: 5px;
        color: $itens_Pretos;
    }
    
    .input {
        background-color: transparent;
        border: solid 1px black;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }


    .labelRadios {
        padding: 0px 15px 0px 4px;
    }
}



.buttonSubmit {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    background-color: $itens_Pretos;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px 0px 3px 0px;

    &:hover {
        background-color: #555;
    }
}

@media screen and (max-width: 500px) {
    .formulario {
        max-width: 90%;
    }
}

