
.container_perfil {
    min-height: 90vh;
    
    .profile_container {
        position: relative;
        // color: black;
        max-width: 580px;
        margin: 20px auto;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        // justify-content: space-around;
        padding: 20px 10px;
        // padding-left: 5%;
        border: solid 1px rgba(126, 126, 126, 0.235);
        // background-color: #f4f4f9;
        
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.142);
        text-align: center;

        .profile_avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid #494a4b;
        }
        

        .descricaoDoUsuario {
            // text-align: left;

            .nome {
                font-size: 1.4em;
                font-weight: bold;
            }

            .data {
                font-size: .9em;
                padding: 8px 0px 15px;
                color: #7d7d7d;
            }

            .titleTeg {
                padding-bottom: 7px;
            }

            span {
                font-family: Arial, Helvetica, sans-serif;
                border: solid 1px rgb(94, 93, 93);
                font-size: .6em;
                font-weight: bold;
                padding: 4px 10px;
                border-radius: 10px;
                margin-right: 4px;
            }

            #membro {
                font-size: .7em;
            }
        }
    

        span.coin {
            border: solid 1px rgb(94, 93, 93);
            padding: 3px 15px 4px;
            border-radius: 10px;
            font-size: .9em;
            top: 10px;
            right: 10px;
            cursor: pointer;

            &::after {
                transition: .3s;
                content: 'ChachCoins';
                font-size: 13px;
                padding: 5px 20px;
                transform: translateX(-50%);
                border-radius: 5px;
                z-index: 1;
            }
        }


        .redesSociais {
            font-size: .9em;
            margin: 0px 5px;
            border-radius: 10px;
            text-decoration: none;
            color: white;
            border: solid 1px rgba(255, 255, 255, 0.384);
            padding: 5px 20px;
        }








    }

    .cntainer_buttons_perfil {
        margin: 20px 0px;

        button {
            display: block;
            font-size: 1em;
            border: solid 2px rgba(79, 78, 78, 0.616);
            background-color: transparent;
            padding: 10px 30px;
            color: white;
            mix-blend-mode: difference;
            border-radius: 10px;
            transition: .2s;
            width: 100%;
            max-width: 580px;
            margin: 10px auto;
    
            &:hover {
                scale: 1.08;
            }
        }
    }
}



@media screen and (max-width: 600px) {
    .container_perfil {
        .profile_container {
            flex-direction: column;
        }
    }
}