
.container_perfil {
    min-height: 90vh;
    
    .profile_container {
        position: relative;
        // color: black;
        max-width: 800px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        gap: 30px;
        // justify-content: space-around;
        padding: 10px;
        padding-left: 5%;
        border: solid 1px rgba(126, 126, 126, 0.235);
        // background-color: #f4f4f9;
        
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.142);
        text-align: center;

        .profile_avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid #494a4b;
        }
        

        .descricaoDoUsuario {
            text-align: left;

            .nome {
                font-size: 1.4em;
                font-weight: bold;
            }

            .data {
                padding: 8px 0px 15px;
                color: #7d7d7d;
            }

            span {
                border: solid 1px rgb(94, 93, 93);
                font-size: .6em;
                font-weight: bold;
                padding: 4px 10px;
                border-radius: 10px;
                margin-right: 4px;
            }

            #membro {
                font-size: .7em;
            }
        }
    

        .coin {
            top: 10px;
            right: 10px;
            position: absolute;
        }









        // .profile_header {
        //     margin-bottom: 20px;
        //     min-width: 250px;
        
            
        
        //     .profile_name {
        //         font-size: 24px;
        //         font-weight: bold;
        //         color: #333;
        //     }
        // }
        
        // .profile_body {
        //     min-width: 300px;
        //     color: #556;
        //     font-size: 1.2em;

        //     .profile_nick {
        //         margin-bottom: 10px;
        //     }

        //     .profile_email {
        //         margin-bottom: 10px;
        //     }

        //     .profile_telefone {
        //         margin-bottom: 10px;
        //     }
        
        //     .profile_bio {
        //         font-size: 14px;
        //         line-height: 1.6;
        //     }
        // }
    }

    .cntainer_buttons_perfil {
        margin: 20px 0px;
        display: flex;
        justify-content: center;

        button {
            font-size: 1.05em;
            border: solid 2px rgba(79, 78, 78, 0.616);
            background-color: transparent;
            padding: 10px 30px;
            color: white;
            border-radius: 30px;
            margin-right: 20px;
            transition: .2s;
            mix-blend-mode: difference;
    
            &:hover {
                scale: 1.08;
            }
        }
    }
}